:root {
  /* Surface */
  --surface-1: hsl(220, 40%, 98%);
  --surface-2: hsl(220, 35%, 95%);
  --surface-3: hsl(220, 30%, 92%);
  --surface-border: hsl(220, 25%, 80%);

  /* Typography */
  --typography-primary: hsl(220, 20%, 10%);
  --typography-primary-invert: hsl(220, 20%, 95%);
  --typography-secondary: hsl(220, 15%, 35%);
  --typography-secondary-invert: hsl(220, 15%, 65%);
  --typography-disabled: hsl(220, 10%, 50%);

  /* Brand - Christmas colors */
  --brand-primary: hsl(348, 85%, 50%);
  --brand-secondary: hsl(120, 80%, 40%);

  /* Status Colors */
  --color-success: hsl(120, 70%, 40%);
  --color-success-light: hsl(120, 70%, 80%);
  --color-error: hsla(0, 87%, 39%, 1.00);
  --color-error-light: hsl(0, 70%, 80%);
  --color-warning: hsl(45, 100%, 50%);
  --color-warning-light: hsl(45, 100%, 80%);
  --color-info: hsla(210, 69%, 45%, 1.00);
  --color-info-light: hsla(210, 74%, 86%, 1.00);
  --color-variety-official-background: hsla(138, 62%, 93%, 1.00);
  --color-variety-official-text: hsla(140, 70%, 34%, 1.00);
  --color-variety-provisional-background: hsl(45, 100%, 90%);
  --color-variety-provisional-text: hsla(40, 80%, 43%, 1.00);
  --color-variety-community-background: hsla(16, 100%, 87%, 1.00);
  --color-variety-community-text: hsla(5, 68%, 52%, 1.00);
  --color-variety-archived-background: hsl(0, 0%, 95%);
  --color-variety-archived-text: hsla(0, 0%, 57%, 1.00);

  /* Shadows */
  --shadow-top: hsl(0, 0%, 80%);
  --shadow-bottom: hsl(0, 0%, 65%);

  /* Button Colors */
  --color-button-primary: var(--brand-primary);
  --color-button-primary-hover: var(--brand-secondary);
  --color-button-secondary: hsl(0, 0%, 99%);
  --color-button-secondary-hover: hsl(0, 0%, 97%);
  --color-button-tertiary: transparent;
  --color-button-tertiary-hover: rgba(244, 162, 97, 0.1);
  --color-button-danger: #e63946;
  --color-button-danger-hover: #e02d2d;
  --color-typography-danger: #e63946;

  /* Checkbox Colors */
  --color-checkbox-border: hsl(0, 0%, 80%);
  --color-checkbox-background: white;
  --color-checkbox-checked-background: var(--brand-primary);
  --color-checkbox-checked-border: var(--brand-primary);
  --color-checkbox-checked-mark: white;

  /* Misc */
  --color-disabled: hsl(0, 0%, 85%);
  --header-height: 50px;
}